{% extends 'base.html' %}


{%block content%}
<div class="container mt-4">
    <section class="mb-4">
      <h2 class="mb-4">Hey there, I’m Wayne!</h2> 
      <p>
        I’m currently pursuing a master’s in AI at SMU's MITB program, but my story doesn’t follow the typical AI track. I actually studied Aerospace Engineering in undergrad, but I soon realized that my true passion was programming. After some serious soul-searching, I decided to switch careers and immerse myself in AI—and I’ve been loving it ever since.
 
      </p>
      <p>
        Since last August, it’s been a whirlwind of learning and growth, exploring new frameworks, solving problems, and pushing my limits. It’s been an exciting journey, and I’m constantly inspired by the possibilities AI holds.

        I'm always looking for opportunities to collaborate and contribute to exciting web development projects.
      </p>
      <p>When I’m not coding, you’ll find me on the Brazilian Jiu-Jitsu mat. I love the challenge and discipline it offers, and it’s a great way to disconnect from tech and focus on something different.
    </p>
    <p>In addition to my studies and training, I’m always working on interesting personal projects, which I share on my blog. It’s a space where I can write about my experiences, share what I’m learning, and explore ideas in AI, programming, and web development. Feel free to check it out if you're interested in following my work and progress! Although recently it has mostly been about school work and leetcode :P
    </p>
    </section>
  
    <footer>
      <p>Thanks for visiting my page! Feel free to connect with me if you're interested in collaborating or learning more about my work.</p>
    </footer>
  </div>

  





{% endblock %}